<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="mat-sidenav-container" opened="true" mode="side">
    <div class="">
      <h1>AOI</h1>
      <div class="px-2 py-3">
        <app-object-list *ngIf="showObList"></app-object-list>
        <app-aoi-list *ngIf="!showObList"></app-aoi-list>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="drawer-menu-button-container">
      <button
        type="button"
        mat-button
        (click)="drawer.toggle()"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <!--       Chart.js Canvas Tag -->
          <canvas id="barChart"></canvas>
        </div>
        <div class="col-md-1"></div>
      </div>
      <mat-card class="example-result-card">
        <mat-card-content>
          <h2>Result : {{ cvalue }}</h2>

          <mat-slider
            class="example-margin"
            [max]="max"
            [min]="min"
            [(ngModel)]="cvalue"
            (change)="getCurrentValue(cvalue, 1)"
          >
          </mat-slider>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
