<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="mat-sidenav-container" opened="true" mode="side">
    <div class="">
      <h1>AOI</h1>
      <div class="px-2 py-3">
        <app-object-list *ngIf="showObList"></app-object-list>
        <app-aoi-list *ngIf="!showObList"></app-aoi-list>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="drawer-menu-button-container">
      <button
        type="button"
        mat-button
        (click)="drawer.toggle()"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <p>
      <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
    </p>

    <p>
      <span matBadge="1" matBadgeSize="large">Text with large badge</span>
    </p>

    <p>
      Button with a badge on the left
      <button
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Action
      </button>
    </p>

    <p>
      Button toggles badge visibility
      <button
        mat-raised-button
        matBadge="7"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
      >
        Hide
      </button>
    </p>

    <p>
      Icon with a badge
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </p>
  </div>
</mat-drawer-container>
