<div class="main-nav-container d-flex align-items-start flex-column">
  <div>
    <div class="nav-btn-item text-center nav-btn-item-active">
      <span class="material-icons"> account_balance </span>
    </div>
    <div
      class="nav-btn-item text-center"
      [routerLink]="['/aoi']"
      routerLinkActive="active"
    >
      <span class="material-icons"> subject </span>
    </div>
    <div
      class="nav-btn-item text-center"
      [routerLink]="['/list']"
      routerLinkActive="active"
    >
      <span class="material-icons"> layers </span>
    </div>
  </div>
  <div class="mt-auto">
    <div class="nav-btn-item text-center">
      <span class="material-icons"> verified_user </span>
    </div>
  </div>
</div>
